body {
  background-color: #303030;
}

#mainRow {
  /* border: solid 1px white; */
  width: 100vw;
  position: relative;
  margin: 0 0;
  left: 0;
  top: 0;
}

/* #App {
  border: 1px solid red;
} */

/* style={{height:"50px", backgroundColor:"black", position: "absolute"}} */


#topTab {
  height: 50px;
  width: 100vw;
  background-color: black;
  position: fixed;
  z-index: 1;
}

.content {
  margin: none;
  margin-top: 50px;
}